* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  min-height: calc(100vh - 200px);
}

section {
  padding: 120px 0;
}

section.small {
  padding: 50px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.lead,
.card-title {
  color: #1c2d41;
}
.img-fluid {
  max-width: 100%;
}
@media (max-width: 992px) {
  section {
    padding: 70px 0;
  }
}

@media (max-width: 576px) {
  section {
    padding: 50px 0;
  }
  section.small {
    padding: 25px 0;
  }
}
